#gif-gallery{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

h1{
    font-family: "Caveat", cursive, monospace;
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 60px;
}
img{
    width: 50%;
    height: auto;
    display: block;
    margin: 0.5% auto;
}

div{
    margin: 3px 0;
}

.search-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3px;
    width: 40%;
    margin: 12px auto;
}

input{
    text-align: center;
}